
@media (max-width: 1880px){
    .sign{
        margin-left: 90px;
    }
    .btn_up{
        margin-left: 60px;
        height: 40px;
    }
    .front_chart{
        display:none;
    }
    .logos{
        margin-left: 340px;
    }
    p{
        line-height: 30px;
    }
    .automated{
        margin-left: 330px;
        margin-top: 50px;
    }
    .automated_logo{
        margin-right: 300px;
        margin-top: 20px;
    }
    .fully{
        margin-right: 300px;
        margin-top: 110px;
    }
    .fully_logo{
        margin-left: 330px;
        margin-top: 50px;
    }
    .prebuilt{
        margin-left: -230px;
        margin-top: 50px;
    }
    .prebuilt_logo{
        margin-right: 300px;
        margin-top: 40px;
    }
    .buys_plans{
        margin-left: 370px;
    }
    .last_hr{
        margin-left: 370px;
    }
    .footer_nav{
        margin-left: -150px;
    }
}
@media (max-width: 1848px){
    .logo{
        margin-left: 200px;
    }
    .analytics{
        margin-left: -150px;
    }
    .nav{
        margin-left: 20px;
    }
    .monitor_info{
        margin-left: -150px;
    }
    .logos{
        margin-left: 250px;
    }
    .prebuilt_logo{
        margin-left: 300px;
        margin-top: -300px;
    }
    .prebuilt{
        margin-left: -350px;
    }
    .automated{
        margin-left: 200px;
    }
    .fully_logo{
        margin-left: 200px;
    }
    .buys_plans{
        margin-left: 300px;
    }
    .last_hr{
        margin-left: 300px;
    }
    .footer_nav{
        margin-left: -270px;
    }
    .facebook{
        margin-left: 160px;
    }
}
@media (max-width: 1717px){
    .sign{
        margin-left: 60px;
    }
    .btn_up{
        margin-left: 30px;
    }
    h1{
        font-size: 27px;
    }
    .monitor_text{
        font-size: 15px;
    }
    .info{
        width: 100%;
        margin-left: 20px;
    }
}
@media (max-width: 1580px){
    .logo{
        margin-left: 150px;
    }
    .analytics{
        margin-left: -190px;
    }
    .nav{
        margin-left: -50px;
    }
    .sign{
        margin-left: 60px;
    }
    .btn_up{
        margin-left: 10px;
    }
    .monitor_info{
        margin-left: -181px;
    }
    h1{
        font-size: 26px;
    }
    .monitor_text{
        font-size: 15px;
    }
    .info{
        width: 100%;
        margin-left: 20px;
    }
    .automated{
        margin-left: 140px;
    }
    .fully_logo{
        margin-left: 140px;
    }
    .prebuilt{
        margin-left: -410px;
    }
    .prebuilt_logo{
        margin-left: 211px;
    }
    .buys_plans{
        margin-left:170px;
    }
    .last_hr{
        margin-left: 170px;
    }
    .last_logo{
        margin-left: 440px;
    }
    .last_analytics{
        margin-left: -140px;
    }
}
@media (max-width: 1263px){
    .logo{
        margin-left: 70px;
    }
    .analytics{
        margin-left: -280px;
    }
    .sign{
        margin-left: 70px;
    }
    .btn_up{
        margin-left: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .monitor_info{
        margin-left: -260px;
    }
    h1{
        font-size: 23px;
    }
    .monitor_text{
        font-size: 14px;
    }
    .info{
        margin-left: 50px;
    }
    .info_img{
        width: 150px;
    }
    .logos{
        margin-left: 30px;
    }
    .automated{
        margin-left: 60px;
    }
    .img_automated{
        padding-bottom: 40px;
        padding-right:90px;
    }
    h4{
        font-size: 27px;
    }
    p{
        font-size: 14px;
    }
    .automated_logo{
        margin-left: 550px;
        margin-top: -250px;
        width: 600px;
        height: 300px;
    }
    .fully_logo{
        margin-left: 60px;
        width: 450px;
        height: 300px;
    }
    .fully{
        margin-left: 600px;
        margin-top: -300px;
    }
    .prebuilt{
        margin-left: -500px;
    }
    .prebuilt_logo{
        margin-left: 20px;
        margin-top:50px;
        width: 400px;
        height: 270px;
        margin-bottom: 10px;
    }
    .buys_plans{
        margin-left: 50px;
    }
    .last_hr{
        margin-left: 50px;
    }
    .last_logo{
        margin-left:330px;
    }
    .last_analytics{
        margin-left: -250px;
    }
}
@media (max-width: 375px){
    *{
        width: 100%;
    }
    .monitor{
        height: 880px;
    }
    .logo{
        margin-left: 20px;
        margin-top: -10px;
        width: 30px;
        height: 30px;
    }
    .analytics{
        padding-left: 335px;
        margin-top: -35px;
        font-size: 20px;
        font-weight: bold;
    }
    .nav{
        display:none;
    }
    .btn_up{
        display: none;
    }
    .sign{
        margin-top: -65px;
        font-size: 20px;
        position: absolute;
        left: 190px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }
    .main_info{
        width: 335px;
        height: 170px;
        margin-top: 26px;
        margin-left: 280px;
    }
    .info{
        margin-left: 280px;
        width:333px;
        height: 232px;
        margin-top: -150px;
    }
    .info_img{
        width: 99px;
        height: 68px;
        padding-top: 10px;
        padding-left: 13px;
    }
    h1{
        font-weight: 700;
        font-size: 31px;
        line-height: 120%;
        color: #FFFFFF;
        margin-top: 280px;
    }
    .monitor_info{
        display:flex;
        flex-direction: column;
    }
    .monitor_text{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #8794BA;
    }
    .btn_try{
        width: 335px;
        height: 50px; 
        background: #EF2A82;
        border-radius: 68px;
        margin-top: 20px;
    }
    h2{
        margin-left: 20px;
        text-align: left;
    }
    .main_features{
        height: 2500px;
    }
    .features_text{
        margin-left: 20px;
        text-align: left;
        font-size: 15px;
        width: 335px;
    }
    .logos{
        width: 335px;
        height: 335px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .time_logo{
        margin-left: 20px;
        float:left;
        margin-top: 30px;
    }
    .screen_logo{
        margin-left: 20px;
        margin-top: 35px;
        float:left;
    }
    .rocket_logo{
        margin-left: 20px;
        margin-top: 35px;
        float:left;
    }
    h3{
        margin-top: 30px;
        text-align: left;
        margin-left: 110px;
    }
    .logo_text{
        margin-left: 110px;
        text-align: left;
        font-size: 11px;
        margin-top: 7px;
        width: 246px;
    }
    .automated{
        text-align: left;
        margin-left: 20px;
        margin-top: 81px;
        font-size: 30px;
    }
    p{
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
    }
    .automated_logo{
        margin-left:20px;
        margin-top: 30px;
    }
    .img_automated{
        width: 350px;
        height: 100%;
        padding:68px 40px 10px 38px;
    }
    .fully{
        position: absolute;
        text-align: left;
        margin-left: 20px;
        margin-top: -71px;
        font-size: 30px;
    }
    .fully_logo{
        margin-left:20px;
        margin-top: 150px;
        margin-bottom: 30px;
        height: 100%;
        padding-bottom: 20px;
        padding-left: 36px;
        padding-top: 46px;
    }
    h4{
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
    }
    .prebuilt{
        position: absolute;
        text-align: left;
        margin-left: -530px;
        margin-top: -111px;
        font-size: 30px;
    }
    .prebuilt_logo{
        position: absolute;
        margin-left:-530px;
        margin-top: 150px;
        padding-left: 16px;
        padding-top: 9px;
        width: 335px;
        height: 229px;
    }
    .features_info{
        display: flex;
        flex-direction: column;
    }
    h5{
        text-align: left;
        margin-left: 20px;
    }
    .pricing_text{
        text-align: left;
        margin-left: 20px;
        line-height: 30px;
        font-size: 19px;
    }
    .buys_plans{
        margin-left: -40px;
    }
    .starter_plan{
        display: none;
    }
    .premium_plan{
        display: none;
    }
    hr{
        margin-left: 45px;
    }
    .standart_order{
        margin-left: 50px;
    }
    .standart_plan{
        margin-left: 70px;
    }
    .btn_order{
        margin-left: 40px;
    }
    .footer_a{
        display:none;
    }
    .last_hr{
        margin-left: 20px;
        width: 335px;
    }
    .last_logo{
        margin-left:290px;
    }
    .last_analytics{
        margin-left: -290px;
        font-weight: bold;
        font-size: 23px;
    }
    .facebook{
        margin-left: 20px;
    }
    .twitter{
        margin-left: 15px;
    }
    .instagram{
        margin-left: 15px;
    }
    .hamburger-menu{
        display: block;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex; 
        align-items: center;  
        position: fixed;
        top: 33px;
        left: 330px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
}
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        position: absolute;
        width: 100%;
        height: 2px;
        display: block;
        height: 3px;
        background: #8794BA;
        margin-bottom: 5px;
        transition: all 0.5s;
}
    .menu__btn > span::before {
        content: '';
        top: -8px;
}
    .menu__btn > span::after {
        content: '';
        top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 375px;
    height: 350px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
    .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
    .menu__item:hover {
    background-color: #CFD8DC;
}
    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
    #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}
.menu__box {
    transition-duration: .60s;
}
.menu__item {
    transition-duration: .25s;
}
}